.relatedLecture {
    display: flex;
    gap: 10px;
}

.relatedLecture__iframe {
    width: 100%;
    height: 100%;
}

.relatedLecture__title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.1;
}