.lecture {
    padding-top: 50px;
    width: 100%;
    min-height: 100vh;
}

.lecture-list {
    display: flex;
    /* justify-content:; */
    align-items: center;
    gap: 56px;
    flex-wrap: wrap;
    /* padding: 30px 120px; */
}

.lecture-list-topic {

}